body {
    font-family: "open sans", sans-serif;
    background-color: lightcyan;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: black;
    font-weight: bold;
}

a:hover{
    color: blue;
}

.title {
    text-align: center;
    margin-top: 0;
}
   

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    height: 120px;
    justify-content: space-between;
}

.sets {
    width: 300px;
    margin: 20px auto;
}



.food {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 65%;
}



p {
    margin-bottom: 10px;
}

    p.tab1 {
        margin-bottom: 50px;
}

    p.intro1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 10px;
}

.container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.container-2 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    
}

.container-3 {
    padding: 10px;
    margin-bottom: 70px;
    border-top: 2px lightblue solid;
    

}

.container-3 h2 {
    margin-top: 70px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container-3 h3 {
    margin-top: 70px;
}


.box-1 {
    width: 80%;
    margin: auto;
    border: 5px lightblue solid;
    background-image:url('images/bild2.jpg');
    background-position: center right;
    height: 200px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}

.box-1 h2 {
    text-align: left;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-1 p {
    padding: 10px;
}



.box-2 {
    width: 60%;
    flex-direction: row;
      
}


.box-3 {
    width: 70%;
    border: 2px lightblue solid;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    float: right;
    
    
    
}

.box-4 {
    width: 70%;
    border: 2px lightblue solid;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    float: right;
    
}


#navbar{
    background-color: lightskyblue;
    height: 30px;
    
}

    #navbar a {
        color: white;
        
}
 
#main-header {
    background-color: lightskyblue;
    color: white;
    font-size: 40px;
    line-height: 1.6em;
    margin-bottom: 10px;
    text-align: center;
}

    #navbar a:hover{
        color: blue;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  main {
    
  }
  
  .container {
    display: flex;
    border: 2px solid lightblue;
  }
  
  h2 {
    width: 400px;
    padding-left: 20px;
    text-decoration: underline;
  }
  
  h3 {
    padding-left: 20px;
    margin-top: 0;
    text-decoration: underline;
  }
  
  h4 {
    padding-left: 20px;
    text-decoration: underline;
  }
  
  p {
    padding-left: 20px;
  }
  
  li {
    padding-bottom: 10px;
  }
  
  .kost-box-left {
    width: 50%;
    height: 620px;
    
    
  }
  
  .kost-box-right {
    width: 50%;
    height: 620px;
    padding-top: 25px;
  }
  
  .vid-behov {
    height: 400px;
  }
  
  .left-meal-3-4 {
    width: 60%;
    height: 280px;
  }
  
  .right-meal-3-4 {
    width: 40%;
    height: 280px;
    padding-top: 50px;
    border-left: 2px solid lightblue;
  }
  
  .veggies {
    width: 100%;
    height: 150px;
  }
  
  .veggies h3 {
    padding-top: 10px;
  }
 
  

