body {
    font-family: "open sans", sans-serif;
    background-color: lightcyan;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: black;
    font-weight: bold;
}

a:hover{
    color: blue;
}

.title {
    text-align: center;
    margin-top: 0;
}
   

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    height: 120px;
    justify-content: space-between;
}

.sets {
    width: 300px;
    margin: 20px auto;
}

ol {
    /*
    margin: 0 0 1.5em;
    */
    padding: 0;
    counter-reset: item;
    margin: 0 0 30px 20px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
	counter-reset: column;
    
}
  
ol > li {
    /*
    margin: 0;
    */
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
    margin: 0 0 10px 0;
	overflow:hidden;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	counter-increment: column;
    
}
  
ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
    margin-bottom: 10px;
    content: counter(column)": ";
	
}


.food {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 65%;
}

.k-container-1 {
    margin-left: auto;
    
}

.k-container-1 div {
    border: 2px lightblue solid;
    display: flex;
}


.kost-box-1 {
    
}


.kost-box-2 {

}

.k-container-2 {
    
}

.k-container-2 div {
    border: 2px lightblue solid;
    padding: 10px;
    
}

.kost-box-3 {

}

.kost-box-4 {

}

.kost-box-5 {
    border: 2px lightblue solid;
    padding: 10px;
}



p {
    margin-bottom: 10px;
}

    p.tab1 {
        margin-bottom: 50px;
}

    p.intro1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 10px;
}

.container-1 {
    width: 800px;
    display: flex;
    flex-direction: row;
    
}

.container-2 {
    flex-direction: column;
    justify-content: flex-end;
    float: right;
}

.container-3 {
    padding: 10px;
    margin-bottom: 70px;
    border-top: 2px lightblue solid;
    

}

.container-3 h2 {
    margin-top: 70px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container-3 h3 {
    margin-top: 70px;
}


.box-1 {
    width: 80%;
    margin: auto;
    border: 5px lightblue solid;
    background-image:url('images/bild2.jpg');
    background-position: center right;
    height: 200px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}

.box-1 h2 {
    text-align: left;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-1 p {
    padding: 10px;
}

.box-2 {
    width: 150%;
    justify-content: flex-start;
    float: left;
}

.box-3 {
    width: 60%;
    border: 2px lightblue solid;
    font-weight: bold;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
}



#navbar{
    background-color: lightskyblue;
    height: 30px;
    
}

    #navbar a {
        color: white;
        
}
 
#main-header {
    background-color: lightskyblue;
    color: white;
    font-size: 40px;
    line-height: 1.6em;
    margin-bottom: 10px;
    text-align: center;
}

    #navbar a:hover{
        color: blue;
}


 
  

