body {
    font-family: "open sans", sans-serif;
    
}



.title {
    text-align: center;
    margin-top: 0;
    

}

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    height: 120px;
    justify-content: space-between;
}

.sets {
    width: 300px;
    margin: 20px auto;
}

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
    
  }
  
  ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
  }
  
  ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
    margin-bottom: 10px;
  }

  .intro1 {
    text-align: center;
  }
  
  .food {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 300px;
      width: 65%;
  }

